<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <p th:text="'Hello, ' + ${user.firstName}">
    </p>
    <p>Please Click below link to Reset your Password.<br/></p>
    <span><a th:href="${verifyLink}">Reset Password</a></span></div>
</body>
</html>